<% if current_user.blank? %>
  <div id="project-<%= project.id %>-budget-button">
    <button class="button hollow expanded primary button--sc"
            data-toggle="loginModal"
            aria-label="<%= t(".added_descriptive", resource_name: translated_attribute(project.title)) %>">
      <%= t(".add") %>
    </button>
  </div>
<% elsif can_have_order? && !current_order_checked_out? %>
  <%= cell("decidim/budgets/project_vote_button", project, scale_up: true) %>
<% end %>
