<%
if respond_to?(:current_component) && current_component && can_be_managed?(current_component)
  edit_link(
    manage_component_path(current_component),
    :read,
    :component,
    component: current_component,
    current_participatory_space: current_participatory_space
  )
end
%>

<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
    <div class="off-canvas-content" data-off-canvas-content>
      <div class="footer-separator">
        <main id="content">
          <%= display_flash_messages %>
          <%= yield %>
        </main>
      </div>
    </div>
  </div>
</div>
