<div class="columns large-centered">
  <p>
    <%= t(".verification_code") %>
    <strong id="hint"><%= @verification_code %></strong>
  <span class="form-error is-visible"><%= t(".hint_notification") %></span>
  </p>
</div>
