<div class="row">
  <div class="columns large-6 padding-right-0">
    <%= form.select :phone_country, phone_country_options(form.object.phone_country), { id: "omniauth_country", include_blank: true }, class: "country-select" %>
  </div>
  <div class="columns large-6 padding-left-0">
    <%= form.number_field :phone_number %>
  </div>
</div>
<div class="row">
  <div class="columns large-centered">
    <%= form.submit t(".submit"), class:"button expanded" %>
  </div>
</div>

<%= javascript_pack_tag "decidim_select_country" %>
