<%# show highlighted budgets first %>
<% if highlighted.any? %>
  <% highlighted.each do |budget| %>
    <div id="highlighted-budgets" class="card card--list budget-list">
      <%= cell("decidim/budgets/budget_list_item", budget) %>
    </div>
  <% end %>
<% end %>

<% non_highlighted = (budgets - highlighted - voted) %>

<% if non_highlighted.any? %>

  <% non_highlighted.each do |budget| %>
    <div id="budgets" class="card card--list budget-list">
      <%= cell("decidim/budgets/budget_list_item", budget) %>
    </div>
  <% end %>
<% end %>
