<div class="row">
<!--TODO: Remove this part after development -->
  <% if !voting_finished? && (voted?) %>
    <div class="section">

      <%= render :voted %>
    </div>
  <% end %>
<!-- End of TODO -->
  <div class="row">
    <div class="columns mediumlarge-12">
      <%= render :card_list %>
    </div>
  </div>
</div>
