<div class="row">
  <div class="columns medium-7 mediumlarge-8">
    <div class="section">
    <% if zip_code_workflow? %>
      <h2 class="section-heading">
        <%= t(".title") %>
      </h2>
    <% else %>
      <%= decidim_sanitize_editor(landing_page_content) %>
    <% end %>
    </div>
  </div>
  <div class="columns medium-5 mediumlarge-4">
  another
  </div>
</div>
